.ball {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: magenta;
    display: none;
}

.shell.reveal .ball {
    display:block;
}

.shells {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.shell {
    margin: 40px;
}

.results {
    color:aquamarine;
    margin: var(--gutter);
    font-family: monospace;
}
/* add home page styles here */