.ball.reveal {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: linear-gradient( pink, magenta);
    z-index: 1;
    position: absolute;
    transform: translateY(-100px);
    box-shadow: 2px -2px 25px  chartreuse;
}

.shell img {
    width: 100%;
   
}

.shells {
    display: flex;
    flex-direction: row; 
    z-index: 2;
}

.shell {
    margin: 20px;
    padding: 20px;
    align-items: center;
}

.results {
    color:aquamarine;
    margin: var(--gutter);
    font-family: monospace;
}
